
<footer class="page-footer grey darken-4 ">
<div class="container">
    <div class="row middle-xs">
        <div class="col l12 center">
            <a href="http://materializecss.com">Sylph</a> made by <a href="http://materializecss.com">Lynne Kirsch</a>
            using <a href="http://materializecss.com">Materialize</a>, <a href="#">Mustache</a>, <a href="#">Doctrine</a>, <a href="#">AltoRouter</a>, and <a href="#">Symfony Components</a>
        </div>
    </div>
</div>
</footer>

<script src="{{basepath}}public/js/form_serializer.js"></script>
<script src="{{basepath}}public/js/template.js"></script>
</body>
</html>
