<br>
</div>
<footer class="page-footer grey darken-4 ">
<div class="container">
    <div class="row middle-xs">
        <div class="col l12">
            <a href="http://materializecss.com">Base Framework</a> made by <a href="http://materializecss.com">Lynne Kirsch</a>
            using <a href="http://materializecss.com">Materialize</a>, <a href="#">Mustache</a>, <a href="#">Doctrine</a>, <a href="#">AltoRouter</a>, <a href="#">Symfony HTTP-Foundation</a>
        </div>
    </div>
</div>
</footer>


<!--  Scripts-->
<script>var basepath = "{{basepath}}";</script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{basepath}}public/js/materialize.js"></script>
<script src="{{basepath}}public/js/init.js"></script>
<script src="{{basepath}}public/js/camera.js"></script>
<script src="{{basepath}}public/js/template.js"></script>

</body>
</html>
