<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{^page_title}}Sylph{{/page_title}}{{#page_title}}{{page_title}}{{/page_title}}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/5961da9870.js"></script>
    <link href="{{basepath}}public/sass/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{basepath}}public/sass/camera.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://cdn.quilljs.com/1.3.0/quill.snow.css" rel="stylesheet">

    <!--  Scripts-->
    <script>var basepath = "{{basepath}}";</script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.0/quill.js"></script>
    <script src="{{basepath}}public/js/materialize.js"></script>
    <script src="{{basepath}}public/js/init.js"></script>
    <script src="{{basepath}}public/js/camera.js"></script>
</head>
<body>

{{#logged_in}}
    <nav class="light-blue z-depth-0" role="navigation">
        <div class="nav-wrapper center container">
            <ul class="left hide-on-med-and-down">
                <li><a href="{{basepath}}logout">Logout</a></li>
                <li><a href="{{basepath}}admin/users">Users</a></li>
                <li><a href="{{basepath}}admin/pages">Pages</a></li>
            </ul>
        </div>
    </nav>
{{/logged_in}}
<nav class="grey darken-2 z-depth-0">
    <div class="nav-wrapper container">
        <a href="{{basepath}}" class="brand-logo" style="font-family: Pacifico, sans-serif">Sylph</a>
        <ul class="right hide-on-med-and-down">
            {{#pages}}
                <li><a href="{{basepath}}page/{{getSlug}}">{{getTitle}}</a></li>
            {{/pages}}
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

