<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://use.fontawesome.com/5961da9870.js"></script>
    <link href="{{basepath}}public/sass/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{basepath}}public/sass/camera.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

{{#auth}}
    <nav class="blue darken-3 z-depth-0" role="navigation">
        <div class="nav-wrapper center container">
            <a href="#" class="brand-logo hide-on-med-and-up">YZ Oneonta</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="{{basepath}}logout">Logout</a></li>
                <li><a href="{{basepath}}admin/users?auth={{auth}}">Users</a></li>
                <li><a href="{{basepath}}admin/properties?auth={{auth}}">Properties</a></li>
            </ul>
        </div>
    </nav>
{{/auth}}
<br>
<div class="container">
    <div class="row middle-xs hide-on-med-and-down">
        <div class="col l6">
            <a href="{{basepath}}"><img src="{{basepath}}public/img/logo.png"></a>
        </div>
        <div class="col l6 right-align">
            <h4 class="red-text no-margin">(607) 267-9387</h4>
            <h5 class="no-margin">277 Main Street &bull; Oneonta</h5>
        </div>
    </div>

    <nav class="grey darken-3 z-depth-0" role="navigation">
        <div class="nav-wrapper center">
            <a href="#" class="brand-logo hide-on-med-and-up">YZ Oneonta</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">3D TOURS</a></li>
                <li><a href="{{basepath}}properties">PROPERTIES</a></li>
                <li><a href="#">CONFIGURATIONS</a></li>
                <li><a href="#">AVAILABILITIES</a></li>
                <li><a href="#">LEASE INFO</a></li>
                <li><a href="#">RESMAN</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
<div class="container main">