<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{^global.page_title}}YZ Oneonta{{/global.page_title}}{{#global.page_title}}{{global.page_title}}{{/global.page_title}}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/5961da9870.js"></script>
    <link href="{{global.basepath}}public/sass/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{global.basepath}}public/sass/camera.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://cdn.quilljs.com/1.3.0/quill.snow.css" rel="stylesheet">

    <!--  Scripts-->
    <script>var basepath = "{{global.basepath}}";</script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.0/quill.js"></script>
    <script src="{{global.basepath}}public/js/materialize.js"></script>
    <script src="{{global.basepath}}public/js/init.js"></script>
    <script src="{{global.basepath}}public/js/camera.js"></script>
</head>
<body>

<div class="hide-on-med-and-down">
    {{#global.logged_in}}
        {{> admin/nav }}
    {{/global.logged_in}}
    <br>
</div>
<div class="container hide-on-med-and-down">
    <div class="row middle-xs">
        <div class="col l6">
            <a href="{{global.basepath}}"><img src="{{global.basepath}}public/img/logo.png"></a>
        </div>
        <div class="col l6 right-align">
            <h2 class="red-text">(607) 267-9387</h2>
            <h4>277 Main Street &bull; Oneonta</h4>
        </div>
    </div>
</div>
<nav class="grey darken-3 z-depth-0">
    <div class="nav-wrapper container">
        <a href="{{global.basepath}}" class="brand-logo hide-on-large-only" style="font-family: Roboto, sans-serif">YZ Oneonta</a>
        <ul class="left hide-on-med-and-down">
            {{#data.pages}}
                {{^isHomePage}}
                    <li><a href="{{global.basepath}}page/{{getSlug}}">{{getTitle}}</a></li>
                {{/isHomePage}}
            {{/data.pages}}
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <div class="center" style="margin-top: 10px; color: black; line-height: 20px;">
                <a href="{{global.basepath}}"><img src="{{global.basepath}}public/img/logo.png"></a>
                <div class="red-text">(607) 267-9387</div>
                <div>277 Main Street &bull; Oneonta</div>
            </div>
            {{#data.pages}}
                {{^isHomePage}}
                    <li><a href="{{global.basepath}}page/{{getSlug}}">{{getTitle}}</a></li>
                {{/isHomePage}}
            {{/data.pages}}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

