<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col s12 l12">
            <div class="camera_wrap">
                <div data-src="{{global.basepath}}public/img/slide1.jpg" data-alignment="center" data-link="{{target_url}}"></div>
                <div data-src="{{global.basepath}}public/img/slide2.jpg" data-alignment="center" data-link="{{target_url}}"></div>
            </div>
        </div>
    </div>
</div>
<div class="container main">
    <h1 style="font-family: Pacifico, sans-serif; text-align: center;">Built for Programmers Who Love Design</h1>
    <br>
    <p style="text-align: center;">
        <strong style="font-family: Pacifico, sans-serif;">Sylph</strong> is largely a work in progress. It is a passion project for me. I have loaded the framework with the very basic things that I find I
        need every time I make a new website.
    </p>
</div>