<div class="container main">
    {{#data.properties}}
        <h4 class="property_header">{{getAddress1}} {{getAddress2}}</h4>
        <div class="property_wrap">
            <div class="row middle-xs">
                <div class="col l4">
                    <img src="{{getFeatureImage}}">
                </div>
                <div class="col l8">
                    {{getBedrooms}} Bedrooms <br>
                    {{getBathrooms}} Full Baths <br>
                    {{getHalfBaths}} Half Baths <br>
                </div>
            </div>
        </div>
    {{/data.properties}}
</div>