@charset "UTF-8";
@import "materialize/materialize";
@import "editor";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container.main {
  flex: 1 0 auto;
  margin-top: 10px;
}

.block {
  display: block;
  width: 100%;
}

.no-margin {
  margin: 0 !important;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.camera_wrap img {
  display: block;
}


.property_search_wrap {
  background: #eee;
  padding: 1rem;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.property_row {
  padding: 1rem;
  border: 1px solid;
  margin-bottom: 10px;
  border-radius: 3px;
}

.btn {
  box-shadow: none !important;
}

img {
  max-width: 100%;
  width: auto;
}

.camera_wrap img {
  display: block;
}

.nav-wrapper ul li a {
  text-transform: uppercase;
}

.col.ql-editor {
  box-sizing: border-box;
  line-height: inherit;
  height: auto;
  outline: none;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: normal;
  word-wrap: normal;
}

.modal {
  background-color: rgba(255, 255, 255, 0.8);


  .modal-content {
    h4 {
      font-family: Pacifico, sans-serif;
      color: color("red", "darken-2");
    }
  }
}

.bubble {
  background: #eee;
  padding: 1rem;
  border-radius: 3px;
}

section.admin {
  background: #f2f2f2;
  padding: 1rem;
  border: 1px solid #ddd;
}

h4.section_header {
  margin-bottom: 0;
  background: #ddd;
  font-size: 18px;
  padding: 1rem;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea
{
  background: #FFFFFF;
}

span.gal_img_wrap {
  display: block;
  float: left;
  margin-right: 10px;

  img {
    display: block;
  }

  .delete_btn {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    color: white;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
  }
}