<nav class="light-blue z-depth-0" role="navigation">
    <div class="nav-wrapper center container">
        <ul class="left hide-on-med-and-down">
            <li><a href="{{global.basepath}}logout">Logout</a></li>
            <li><a href="{{global.basepath}}admin/users">Users</a></li>
            <li><a href="{{global.basepath}}admin/pages">Pages</a></li>
            <li><a href="{{global.basepath}}admin/posts">Posts</a></li>
            <li><a href="{{global.basepath}}admin/posts">Navbar</a></li>
        </ul>
    </div>
</nav>