<div class="row">
    <div class="col s12 l12">
        <div class="camera_wrap">
            {{#slides}}
                <div data-src="{{img_url}}" data-alignment="center" data-link="{{link_to}}">
                    {{#caption}}
                        <div class="camera_caption">{{caption}}</div>
                    {{/caption}}
                </div>
            {{/slides}}
        </div>
    </div>
</div>