<div id="toolbar-container">
    <select class="ql-font">
        <option selected>Sans Serif</option>
        <option value="pacifico">Pacifico</option>
        <option value="roboto">Roboto</option>
        <option value="bellefair">Bellefair</option>
        <option value="opensans">Open Sans</option>
    </select>
    <button class="ql-bold"></button>
    <button class="ql-align"></button>
    <button class="ql-align" value="center"></button>
    <button class="ql-align" value="right"></button>
    <button class="ql-align" value="justify"></button>
    <select class="ql-size">
        <option value="small"></option>
        <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
    </select>
    <button class="ql-script" value="sub"></button>
    <button class="ql-script" value="super"></button>
    <button class="ql-list" value="ordered"></button>
    <button class="ql-list" value="bullet"></button>
    <button class="ql-image"></button>
</div>