<div class="container main">
    <div class="row middle-xs" style="font-weight: bold;">
        <div class="col l6">
            Page
        </div>
        <div class="col l3">
            URL
        </div>
        <div class="col l3">
            &nbsp;
        </div>
    </div>
    <div class="page_list_wrap">
        {{#data.pages}}
            <div class="row middle-xs">
                <div class="col l6">
                    {{getTitle}}
                </div>
                <div class="col l3">
                    /page/{{getSlug}}
                </div>
                <div class="col l1">
                    <a class="btn z-depth-0 block" href="{{global.basepath}}admin/page/{{getPageId}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </div>
                <div class="col l1">
                    <a class="btn z-depth-0 block" href="{{global.basepath}}page/{{getSlug}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </div>
                <div class="col l1">
                    <a class="btn z-depth-0 block" href="{{global.basepath}}admin/page/{{getPageId}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </div>
        {{/data.pages}}
    </div>
</div>